---
title: 사진
---
<section class="mbr-gallery mbr-slider-carousel cid-qTP6zyS2c0" id="photo">
  <div>
    <div>
      <!-- Filter -->
      <!-- Gallery -->
      <div class="mbr-gallery-row">
        <div class="mbr-gallery-layout-default">
          <div>
            <div>
              {% assign photos = 'photos/01,photos/02,photos/03,photos/04,photos/05,photos/06,photos/10,photos/11,photos/32,photos/12,photos/13,photos/14,photos/16,photos/17,photos/30,photos/31,photos/19,photos/20,photos/21,photos/22,photos/36,photos/37,photos/38,photos/39,photos/23,photos/24,photos/25,photos/29' | split: "," %}
              {% assign count = 0 %}
              {% for item in photos %}
                <div class="mbr-gallery-item mbr-gallery-item--pNaN" data-video-url="false">
                  <div href="#lb-photo" data-slide-to="{{count}}" data-toggle="modal">
                    <img src="{% asset '{{item}}_2x'.jpg @path %}">
                  </div>
                </div>
                {% assign count = count | plus:1 %}
              {% endfor %}
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- Lightbox -->
      <div data-app-prevent-settings="" class="mbr-slider modal fade carousel slide" tabindex="-1" data-keyboard="true" data-interval="false" id="lb-photo">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <ol class="carousel-indicators">
                {% assign count = 0 %}
                {% assign active = 'active' %}
                {% for item in photos %}
                  <li data-app-prevent-settings="" data-target="#lb-photo" class="{{active}}" data-slide-to="{{count}}"></li>
                  {% assign count = count | plus:1 %}
                  {% assign active = '' %}
                {% endfor %}
              </ol>
              <div class="carousel-inner">
                {% assign active = 'active' %}
                {% for item in photos %}
                  <div class="carousel-item {{active}}"><img src="{% asset '{{item}}'.jpg @path %}" alt="" title=""></div>
                  {% assign active = '' %}
                {% endfor %}
              </div>
              <a class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#lb-photo">
                <span class="mbri-left mbr-iconfont" aria-hidden="true"></span><span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control carousel-control-next" role="button" data-slide="next" href="#lb-photo">
                <span class="mbri-right mbr-iconfont" aria-hidden="true"></span><span class="sr-only">Next</span>
              </a>
              <a class="close" href="#" role="button" data-dismiss="modal"><span class="sr-only">Close</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
