---
title: 사진
---
<section class="carousel slide cid-qRndRlejLh" data-interval="false" id="photo">
  <div class="container content-slider">
      <div class="content-slider-wrap">
          <div>
            <div class="mbr-slider slide carousel" data-pause="true" data-keyboard="false" data-ride="false" data-interval="false">
            <!-- {% assign photos = 'photos/180427_01,photos/180427_02,photos/180427_03,photos/180427_04,photos/180427_05,photos/180427_06,photos/180427_07,photos/180427_08,photos/180427_09,photos/180427_10,photos/180427_11' | split: "," %} -->
            {% assign photos = 'photos/180427_01,photos/180427_02,photos/180427_03,photos/180427_04,photos/180427_05,photos/180427_06,photos/180427_10,photos/180427_11' | split: "," %}
            {% assign active = 'active' %}
            <ol class="carousel-indicators">
              {% assign count = 0 %}
              {% for item in photos %}
                <li data-app-prevent-settings="" data-target="#photo" class="{{active}}" data-slide-to="{{count}}"></li>
                {% assign count = count | plus:1 %}
              {% assign active = '' %}
              {% endfor %}
            </ol>
            <div class="carousel-inner" role="listbox">
              {% assign active = 'active' %}
              {% for item in photos %}
                <div class="carousel-item slider-fullscreen-image {{active}}" data-bg-video-slide="false">
                  <div class="container container-slide">
                    <div class="image_wrapper">
                      <picture>
                        <source media="(min-width: 961px)" srcset="{% asset '{{item}}'.jpg @path %} 1208w">
                        <source media="(min-width: 641px)" srcset="{% asset '{{item}}'_3x.jpg @path %} 960w">
                        <source media="(max-width: 640px)" srcset="{% asset '{{item}}'_2x.jpg @path %} 640w">
                        <img src="{% asset '{{item}}'_2x.jpg @path %}"
                          srcset="{% asset '{{item}}'_2x.jpg @path %} 640w, {% asset '{{item}}'_3x.jpg @path %} 960w, {% asset '{{item}}'.jpg @path %} 1280w">
                      </picture>
                    </div>
                  </div>
                </div>
              {% assign active = '' %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
