---
---
<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="{% asset logo2.png @path %}" type="image/x-icon">
  <meta name="description" content="">
  <title>Home</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Nanum+Gothic:300,400,700|Noto+Sans:300,400,700&subset=korean" type="text/css">
  {% asset mobirise-icons/mobirise-icons.css !type %}
  {% asset vendor.css !type %}
  {% asset dropdown/style.css !type %}
  {% asset socicon/css/styles.css !type %}
  {% asset theme/style.css !type %}
  {% asset mobirise/mbr-additional.css !type %}
  {% asset application.css !type %}
</head>
<body>
  <section class="menu cid-qRncmvxCF9" once="menu" id="menu1-e">
    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                <li class="nav-item">
                  <a class="nav-link link text-white display-4" href="#intro">
                    <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>Intro
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link text-white display-4" href="#video">
                    <span class="socicon socicon-youtube mbr-iconfont mbr-iconfont-btn"></span>Video
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link text-white display-4" href="#countdown">
                    <span class="mbri-setting mbr-iconfont mbr-iconfont-btn"></span>Countdown
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link text-white display-4" href="#info">
                    <span class="mbri-info mbr-iconfont mbr-iconfont-btn"></span>Info
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link text-white display-4" href="#photo">
                    <span class="socicon socicon-googlephotos mbr-iconfont mbr-iconfont-btn"></span>Photo
                  </a>
                </li>
            </ul>
            <div class="navbar-buttons mbr-section-btn">
            </div>
        </div>
    </nav>
  </section>
  {% for section in site.sections %}
    {% capture id %}{{ section.id | remove:'/' | remove:'sections' | downcase }}{% endcapture %}
    {{ section.content }}
  {% endfor %}
  {% include javascripts.html %}
  {% asset slidervideo/script.js !type %}
</body>
</html>
