<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ site.name }} | {{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:image" content="{{ site.url }}{% asset og-image.jpg @path %}">

  <link rel="apple-touch-icon" href="{% asset apple-touch-icon.png @path %}">

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Nanum+Gothic:300,400,700|Noto+Sans:300,400,700&subset=korean" type="text/css">
  {% asset fullpage.js/dist/jquery.fullpage.min.css !type %}
  {% asset application.css %}
  <script type="text/javascript">
  var anchors = [
    {% for section in site.sections %}
      {% capture id %}{{ section.id | remove:'/' | remove:'sections' | downcase }}{% endcapture %}
      '{{id}}'{% if forloop.last == false %},{% endif %}
    {% endfor %}
  ]
  </script>
</head>
