@charset "utf-8";
@import 'tether/src/css/tether';
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/scss/bootstrap-grid';
@import 'bootstrap/scss/bootstrap-reboot';

body { font-family: 'Nanum Gothic', 'Noto Sans', sans-serif; }

.cid-qRncmw83Et {
  background-image: asset_url("intro.jpg");
}

.cid-qRncmvxCF9 .navbar {
  padding: .5rem 0;
  background: #333333;
  transition: none;
  min-height: 77px;
}
